<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0c528faae201419d9a6d91117e6a2d52" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0c528faae201419d9a6d91117e6a2d52 = echarts.init(
            document.getElementById('0c528faae201419d9a6d91117e6a2d52'), 'white', {renderer: 'canvas'});
        var option_0c528faae201419d9a6d91117e6a2d52 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u6700\u65b0\u4ef7",
            "symbolSize": 20,
            "data": [
                [
                    "\u4f18\u5b81\u7ef4",
                    63.34
                ],
                [
                    "\u6cf0\u6797\u751f\u7269",
                    83.28
                ],
                [
                    "\u7279\u53d1\u670d\u52a1",
                    30.24
                ],
                [
                    "\u8bfa\u552f\u8d5e  ",
                    75.74
                ],
                [
                    "\u4e49\u7fd8\u795e\u5dde",
                    120.21
                ],
                [
                    "\u4ebf\u7530\u667a\u80fd",
                    43.68
                ],
                [
                    "\u5fd7\u7279\u65b0\u6750",
                    40.35
                ],
                [
                    "\u666e\u745e\u773c\u79d1",
                    58.81
                ],
                [
                    "\u534e\u81f4\u9152\u884c",
                    28.27
                ],
                [
                    "\u4e07\u5b5a\u751f\u7269",
                    43.93
                ],
                [
                    "\u53ef\u5b5a\u533b\u7597",
                    48.67
                ],
                [
                    "\u7ff0\u5b87\u836f\u4e1a",
                    18.94
                ],
                [
                    "\u5eb7\u5e0c\u8bfa  ",
                    239.87
                ],
                [
                    "\u70ed\u666f\u751f\u7269",
                    100.0
                ],
                [
                    "\u5149\u5cf0\u79d1\u6280",
                    25.3
                ],
                [
                    "\u8d85\u6377\u80a1\u4efd",
                    23.78
                ],
                [
                    "\u7c73\u5965\u4f1a\u5c55",
                    41.3
                ],
                [
                    "\u56fd\u7acb\u79d1\u6280",
                    17.01
                ],
                [
                    "\u8fd1\u5cb8\u86cb\u767d",
                    118.0
                ],
                [
                    "\u4e1c\u65b9\u751f\u7269",
                    116.5
                ],
                [
                    "\u6613\u534e\u5f55",
                    22.32
                ],
                [
                    "\u4e09\u516d\u4e94\u7f51",
                    9.77
                ],
                [
                    "\u535a\u62d3\u751f\u7269",
                    56.13
                ],
                [
                    "\u963f\u62c9\u4e01  ",
                    38.02
                ],
                [
                    "\u5efa\u79d1\u80a1\u4efd",
                    29.36
                ],
                [
                    "\u5609\u51ef\u57ce",
                    2.59
                ],
                [
                    "\u8363\u76db\u53d1\u5c55",
                    2.6
                ],
                [
                    "\u5929\u745e\u4eea\u5668",
                    5.2
                ],
                [
                    "\u666f\u5cf0\u533b\u836f",
                    3.91
                ],
                [
                    "\u4e0a\u5b9e\u53d1\u5c55",
                    3.8
                ],
                [
                    "\u91d1\u79d1\u80a1\u4efd",
                    2.39
                ],
                [
                    "\u65b0\u534e\u8054",
                    3.48
                ],
                [
                    "\u5929\u623f\u53d1\u5c55",
                    2.72
                ],
                [
                    "\u6e1d \u5f00 \u53d1",
                    4.9
                ],
                [
                    "\u5929\u4fdd\u57fa\u5efa",
                    5.78
                ],
                [
                    "\u9633 \u5149 \u57ce",
                    2.29
                ],
                [
                    "\u4e2d\u56fd\u6b66\u5937",
                    4.25
                ],
                [
                    "\u76ca\u6c11\u96c6\u56e2",
                    3.82
                ],
                [
                    "\u534e\u4fa8\u57ce\uff21",
                    5.57
                ],
                [
                    "\u6816\u971e\u5efa\u8bbe",
                    4.81
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "scatter",
            "name": "\u6628\u6536",
            "symbolSize": 20,
            "data": [
                [
                    "\u4f18\u5b81\u7ef4",
                    52.78
                ],
                [
                    "\u6cf0\u6797\u751f\u7269",
                    69.4
                ],
                [
                    "\u7279\u53d1\u670d\u52a1",
                    25.2
                ],
                [
                    "\u8bfa\u552f\u8d5e  ",
                    63.12
                ],
                [
                    "\u4e49\u7fd8\u795e\u5dde",
                    105.31
                ],
                [
                    "\u4ebf\u7530\u667a\u80fd",
                    38.45
                ],
                [
                    "\u5fd7\u7279\u65b0\u6750",
                    35.62
                ],
                [
                    "\u666e\u745e\u773c\u79d1",
                    52.0
                ],
                [
                    "\u534e\u81f4\u9152\u884c",
                    25.02
                ],
                [
                    "\u4e07\u5b5a\u751f\u7269",
                    38.91
                ],
                [
                    "\u53ef\u5b5a\u533b\u7597",
                    43.12
                ],
                [
                    "\u7ff0\u5b87\u836f\u4e1a",
                    16.84
                ],
                [
                    "\u5eb7\u5e0c\u8bfa  ",
                    214.0
                ],
                [
                    "\u70ed\u666f\u751f\u7269",
                    89.23
                ],
                [
                    "\u5149\u5cf0\u79d1\u6280",
                    22.68
                ],
                [
                    "\u8d85\u6377\u80a1\u4efd",
                    21.33
                ],
                [
                    "\u7c73\u5965\u4f1a\u5c55",
                    37.07
                ],
                [
                    "\u56fd\u7acb\u79d1\u6280",
                    15.32
                ],
                [
                    "\u8fd1\u5cb8\u86cb\u767d",
                    106.56
                ],
                [
                    "\u4e1c\u65b9\u751f\u7269",
                    105.28
                ],
                [
                    "\u6613\u534e\u5f55",
                    20.2
                ],
                [
                    "\u4e09\u516d\u4e94\u7f51",
                    8.85
                ],
                [
                    "\u535a\u62d3\u751f\u7269",
                    50.87
                ],
                [
                    "\u963f\u62c9\u4e01  ",
                    34.46
                ],
                [
                    "\u5efa\u79d1\u80a1\u4efd",
                    26.62
                ],
                [
                    "\u5609\u51ef\u57ce",
                    2.35
                ],
                [
                    "\u8363\u76db\u53d1\u5c55",
                    2.36
                ],
                [
                    "\u5929\u745e\u4eea\u5668",
                    4.72
                ],
                [
                    "\u666f\u5cf0\u533b\u836f",
                    3.55
                ],
                [
                    "\u4e0a\u5b9e\u53d1\u5c55",
                    3.45
                ],
                [
                    "\u91d1\u79d1\u80a1\u4efd",
                    2.17
                ],
                [
                    "\u65b0\u534e\u8054",
                    3.16
                ],
                [
                    "\u5929\u623f\u53d1\u5c55",
                    2.47
                ],
                [
                    "\u6e1d \u5f00 \u53d1",
                    4.45
                ],
                [
                    "\u5929\u4fdd\u57fa\u5efa",
                    5.25
                ],
                [
                    "\u9633 \u5149 \u57ce",
                    2.08
                ],
                [
                    "\u4e2d\u56fd\u6b66\u5937",
                    3.86
                ],
                [
                    "\u76ca\u6c11\u96c6\u56e2",
                    3.47
                ],
                [
                    "\u534e\u4fa8\u57ce\uff21",
                    5.06
                ],
                [
                    "\u6816\u971e\u5efa\u8bbe",
                    4.37
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6700\u65b0\u4ef7",
                "\u6628\u6536"
            ],
            "selected": {
                "\u6700\u65b0\u4ef7": true,
                "\u6628\u6536": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4f18\u5b81\u7ef4",
                "\u6cf0\u6797\u751f\u7269",
                "\u7279\u53d1\u670d\u52a1",
                "\u8bfa\u552f\u8d5e  ",
                "\u4e49\u7fd8\u795e\u5dde",
                "\u4ebf\u7530\u667a\u80fd",
                "\u5fd7\u7279\u65b0\u6750",
                "\u666e\u745e\u773c\u79d1",
                "\u534e\u81f4\u9152\u884c",
                "\u4e07\u5b5a\u751f\u7269",
                "\u53ef\u5b5a\u533b\u7597",
                "\u7ff0\u5b87\u836f\u4e1a",
                "\u5eb7\u5e0c\u8bfa  ",
                "\u70ed\u666f\u751f\u7269",
                "\u5149\u5cf0\u79d1\u6280",
                "\u8d85\u6377\u80a1\u4efd",
                "\u7c73\u5965\u4f1a\u5c55",
                "\u56fd\u7acb\u79d1\u6280",
                "\u8fd1\u5cb8\u86cb\u767d",
                "\u4e1c\u65b9\u751f\u7269",
                "\u6613\u534e\u5f55",
                "\u4e09\u516d\u4e94\u7f51",
                "\u535a\u62d3\u751f\u7269",
                "\u963f\u62c9\u4e01  ",
                "\u5efa\u79d1\u80a1\u4efd",
                "\u5609\u51ef\u57ce",
                "\u8363\u76db\u53d1\u5c55",
                "\u5929\u745e\u4eea\u5668",
                "\u666f\u5cf0\u533b\u836f",
                "\u4e0a\u5b9e\u53d1\u5c55",
                "\u91d1\u79d1\u80a1\u4efd",
                "\u65b0\u534e\u8054",
                "\u5929\u623f\u53d1\u5c55",
                "\u6e1d \u5f00 \u53d1",
                "\u5929\u4fdd\u57fa\u5efa",
                "\u9633 \u5149 \u57ce",
                "\u4e2d\u56fd\u6b66\u5937",
                "\u76ca\u6c11\u96c6\u56e2",
                "\u534e\u4fa8\u57ce\uff21",
                "\u6816\u971e\u5efa\u8bbe"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u80a1\u7968\u6700\u65b0\u4ef7\u6563\u70b9\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 2,
        "max": 240,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_0c528faae201419d9a6d91117e6a2d52.setOption(option_0c528faae201419d9a6d91117e6a2d52);
    </script>
</body>
</html>
